<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Bokeh! </title>
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
  <script type="text/javascript">
      Bokeh.set_log_level("info");
  </script>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/Users/dlytle/python/bok-dj-examp/graphs/mystyles.css" media="screen" />
</head>
<body>
  <div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "masonary" }'>
  <div class="grid-item">
  <main>
    {% block main %}
    {% endblock %}
  </main>
  </div>
  <div class="grid-item grid-item--width2">
  </div>
  </div>
</body>
</html>
