<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Isotope Masonry Layout</title>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />

</head>
<body>
    
    <!-- Isotope Projects Wrapper -->
    <div class="projects-wrapper">
        <ul id="filterNav" class="filters-list">
            <li data-filter="*">All Items</li>
            <li data-filter=".graphs">Graphs</li>
            <li data-filter=".weather">Weather</li>
        </ul>

        <!-- Project Items List -->
        <div class="projects-list">
          <div class="project-item graphs">
            <!-- Item Image -->
              {% block main %}
              {% endblock %}
          </div>
          <div class="project-item graphs">
            <!-- Item Image -->
              {% block main2 %}
              {% endblock %}
          </div>
          <div  class="project-item weather">
	    <embed src="https://www.wunderground.com/wundermap?lat=35.200752&lon=-111.662811&cm_ven=localwx_wumap" style="width:1010px; height:500px;">
          </div>
        </div>
    </div>

    <!-- JavaScipts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/packery-mode.pkgd.min.js"></script>
    <script src="/static/js/functions.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>

</body>
</html>
