<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} Bokeh! {% endblock %}</title>
  {% block head %} <!-- Head content --> {% endblock %}
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <link rel="stylesheet" type="text/css" href="mystyles.css" media="screen" />
</head>
<body>
  <div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "masonary" }'>
  <div class="grid-item">
  <main>
    {% block main %}
    {% endblock %}
  </main>
  </div>
  <div class="grid-item grid-item--width2">
  <embed src="https://weather.cod.edu/satrad/exper/?parms=local-Arizona-15-24-1-100-1&checked=map&colorbar=undefined" style="width:400px; height: 100px;">
  </div>
  </div>
</body>
</html>
