.example figure {
         float: left;
         background: #17A781;
         width: 20%;
         height: 159px;
         margin: 0 2px 4px;
}
.example .item-w2 {
         width: 40%;
         background: #FF0000;
}
.example .item-h2 {
         height: 322px;
         background: #7CB744;
}
.example .item-h3 {
         height: 485px;
         background: #38B5E5;
}
.isotope .isotope-item {
         -webkit-transition-duration: 0.8s;
         -moz-transition-duration: 0.8s;
         transition-duration: 0.8s;
         -webkit-transition-property: -webkit-transform, opacity;
         -moz-transition-property: -moz-transform, opacity;
         transition-property: transform, opacity;
}
