{% load static %}

<head>
  <!-- HAniS stuff -->
  <script type="text/javascript" src="{% static 'js/hanis_min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/hancon.js' %}"></script>
</head>

<body onload="HAniS.setup(hansat, 'hansatdiv')" style="margin:0; padding:0;">
  <!-- HAniS weather sequence displayer -->
  <!-- https://www.ssec.wisc.edu/hanis/ -->
  <div id="hansatdiv" style="position:relative;
                             height: 100%;
                             width: 100%;"></div>
</body>