{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control"
        content="max-age=0, must-revalidate, no-store">

  <title>NightWatch - LDT</title>

  <!-- Favicon crap -->
  <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Overall page styling -->
  <link rel="stylesheet" href="{% static 'css/nightwatch.css' %}">

  <!-- Utilities -->
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

  <!-- HAniS stuff -->
  <!--
  <script type="text/javascript"
          src="{% static 'js/hanisf_min.js' %}"></script>
  -->

  <!-- If using the non minified hanis, need to include pointerEvents too -->
  <script type="text/javascript"
          src="{% static 'js/hanisf.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'js/pointerEvents.js' %}"></script>

  <!-- 7/14/16 Segment display clock -->
  <!-- http://www.3quarks.com/en/SegmentDisplay/index.html -->
  <!-- I think this one is only for old IE compatibility? -->
  <script type="text/javascript" src="{% static 'js/excanvas.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'js/segment-display.js' %}"></script>
  <script type="text/javascript">
    var display = new SegmentDisplay("14segClock");
    display.segmentCount    = 14;
    display.cornerType      = 0;
    display.digitHeight     = 30;
    display.digitWidth      = 20;
    display.digitDistance   = 3.5;
    display.displayAngle    = 5.0;
    display.segmentWidth    = 3.0;
    display.segmentDistance = 0.2;

    display.pattern         = "#############:##:## ####";
    display.colorOn         = "#3498db";
    display.colorOff        = "#0a1e2b";
    display.draw();
    animate();

    function animate() {
      var time    = new Date();
      var year    = time.getUTCFullYear();
      var day     = time.getUTCDate();
      // Because month is zero-indexed, for some insane reason
      var month   = time.getUTCMonth() + 1;
      var hours   = time.getUTCHours();
      var minutes = time.getUTCMinutes();
      var seconds = time.getUTCSeconds();
      // For the full date + time
      var value   = year + "-"
                  + ((month < 10) ? '0' : '') + month + "-"
                  + ((day < 10) ? '0' : '') + day + " "
                  + ((hours < 10) ? '0' : '') + hours
                  + ':' + ((minutes < 10) ? '0' : '') + minutes
                  + ':' + ((seconds < 10) ? '0' : '') + seconds
                  + "  UTC";
      // For just the time
      // var value   = ((hours < 10) ? ' ' : '') + hours
      //             + ':' + ((minutes < 10) ? '0' : '') + minutes
      //             + ':' + ((seconds < 10) ? '0' : '') + seconds
      //             + "  UTC";
      display.setValue(value);
      window.setTimeout('animate()', 100);
  }
  </script>
</head>

<body>
  <div class="stamp">
    <!-- It's ugly, but works. Pure CSS was more annoying than this is -->
    <table class="tg">
      <!-- First row - title -->
      <tr>
        <td class="tg-title" colspan="1">
          <span>
            NightWatch&nbsp
            <!-- Need this assinine magicbox div to get the image and text
            actually aligned vertically. Dumb.-->
            <div class='magicbox' style='width:150px;
                                         display:inline-block;
                                         vertical-align:middle;'>
              <img src="{% static 'images/Lowell_125yearslogo_light.png' %}"
                  width=150px>
            </div>
            &nbsp4.3m LDT
          </span>
        </td>
        <td class="tg-logoblock" rowspan="2">
            <img src="{% static 'images/MWest-DCT_sm.png' %}" width=200px>
          </td>
      </tr>
      <!-- Second row - UTC clock -->
      <tr>
        <td class="tg-title">
          <canvas id='14segClock' width="475" height="50"></canvas>
        </td>
      </tr>
      <!-- Third row - navigation/filter buttons -->
      <tr>
        <td class="tg-navblock" colspan="2">
          <div class="btn-group filters-group">
            <button class="btn btn--primary active" data-filter="home">
              Home</button>
            <button class="btn btn--primary" data-filter="tv1">
              TV1</button>
            <button class="btn btn--primary" data-filter="tv2">
              TV2</button>
            <button class="btn btn--primary" data-filter="weather">
              Weather</button>
            <button class="btn btn--primary" data-filter="telescopeStatus">
              Telescope Status</button>
            <button class="btn btn--primary" data-filter="webcam">
              Site Webcams</button>
            <button class="btn btn--primary" data-filter="instruments">
              Instruments</button>
            <button class="btn btn--primary" data-filter="*">Show All</button>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="grid">
    <!-- HAniS weather sequence displayer -->
    <!-- https://www.ssec.wisc.edu/hanis/ -->
    <div class="element-item weather"
         data-groups='["home", "tv1", "weather"]'
         style="padding:0px; width:620px; height:620px; border:none; position:relative;"
         id="hansatdiv">
    </div>
    <div class="element-item weather"
         data-groups='["home", "tv1", "weather"]'
         style="padding:0px; width:620px; height:620px; border:none; position:relative;"
         id="hanraddiv">
    </div>
  <script type="text/javascript">
    var hradObj = new HAniSF();
    var hsatObj = new HAniSF();

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }
    function refreshHanii() {
        var refreshInterval = 300000;
        hradObj.reloadFOF();
	hsatObj.reloadFOF();
        setTimeout("refreshHanii()", refreshInterval);
        console.log("Updated all Hanii! Timer reset.");
	console.log(refreshInterval);
      }
    async function init() {
      hsatObj.setup('../static/conf/hanis_goes.txt', 'hansatdiv', aready);
      console.log("HAniS GOES loaded with callback aready");

      hradObj.setup('../static/conf/hanis_radar.txt', 'hanraddiv');
      console.log("HAniS radar loaded");

      await sleep(15000);
      console.log("Slept for 15000 msec to init")

      hsatObj.toggleIsLooping();
      console.log("GOES image looping toggled");
      
      refreshHanii();
    }
    function aready() {
      hsatObj.frameChanged(changb);
      hsatObj.zoomChanged(zchangb);
    }
    function changb(frm) {
      hradObj.showFrame(frm);
    }
    function zchangb(z) {
      hradObj.showZoom(z);
    }
    window.onload = init();
    console.log("HAniS init complete");
  </script>
    <div class="element-item weather"
         data-groups='["home", "tv1", "weather"]'>
        <canvas id="allsky" height=590px width=590px></canvas>
    </div>

    <!--
    <div class="element-item bokeh"
         data-groups='["home", "tv2", "telescopeStatus", "instruments"]'
         style="height:420px;width:400px">
      <div class='bokeh-embed table'>{{ facsum_tcs | safe }}</div>
    </div>
    -->

       <!-- Grafana embed tests -->
    <div class="element-item bokeh"
         data-groups='["home", "tv2", "telescopeStatus"]'>
         <object class="grafana-iframe"
            data="http://dctsleeperservice.lowell.edu:3000/d-solo/af558cc3-c025-4420-8ede-b32f1bc9ec44/ldt-status?orgId=2&panelId=1&refresh=1m&theme=dark&output=embed"
            width="400"
            height="420"
            frameborder="0"></object>
    </div>

    <div class="element-item bokeh"
         data-groups='["home", "tv2", "telescopeStatus"]'>
         <object class="grafana-iframe"
            data="http://dctsleeperservice.lowell.edu:3000/d-solo/af558cc3-c025-4420-8ede-b32f1bc9ec44/ldt-status?orgId=2&panelId=2&refresh=1m&theme=dark&output=embed"
            width="400"
            height="420"
            frameborder="0"></object>
    </div>

<!--
    <div class="element-item bokeh"
         data-groups='["home", "tv2", "telescopeStatus", "instruments"]'
         style="height:280px;width:400px">
      <div class='bokeh-embed table'>{{ facsum_lpi | safe }}</div>
    </div>
-->

    <!-- LDT Webcams -->
    <!-- (Yes, I know I can template these in django) -->
    <div class="element-item webcam"
         data-groups='["home", "tv2", "webcam", "instruments"]'>
        <canvas id="obslevel" height=235px width=400px></canvas>
    </div>

    <div class="element-item webcam"
         data-groups='["webcam"]'>
      <canvas id="gate" height=235px width=400px></canvas>
    </div>

    <div class="element-item webcam"
         data-groups='["webcam"]'>
      <canvas id="genset" height=235px width=400px></canvas>
    </div>

    <div class="element-item webcam"
         data-groups='["home", "tv2", "webcam", "instruments"]'>
      <canvas id="obsrot" height=235px width=400px></canvas>
      <!-- <canvas id="mezzanine" height=235px width=400px></canvas> -->
      <!-- <canvas id="heliumcomp" height=235px width=400px></canvas> -->
    </div>

    <div class="element-item webcam"
         data-groups='["webcam"]'>
      <canvas id="telbldg" height=235px width=400px></canvas>
    </div>

    <div class="element-item webcam"
         data-groups='["webcam"]'>
      <canvas id="domeroof" height=235px width=400px></canvas>
    </div>

    <!-- Grafana embed tests -->
    <div class="element-item bokeh"
         data-groups='["home", "tv2", "weather"]'>
	 <object class="grafana-iframe"
            data="http://dctsleeperservice.lowell.edu:3000/d-solo/a0627370-8189-4f75-8e13-d69138983383/ldt-weather?orgId=2&panelId=2&refresh=1m&theme=dark&output=embed" 
            width="815"
            height="290"
            frameborder="0"></object>
    </div>

    <div class="element-item bokeh"
         data-groups='["home", "tv2", "weather"]'>
	 <object class="grafana-iframe"
            data="http://dctsleeperservice.lowell.edu:3000/d-solo/a0627370-8189-4f75-8e13-d69138983383/ldt-weather?orgId=2&panelId=3&refresh=1m&theme=dark&output=embed" 
            width="815"
            height="290"
            frameborder="0"></object>
    </div>

  </div>

  <!-- Other utilities -->
  <script type="text/javascript"
          src="{% static 'js/canvasRefresher.js' %}"></script>

  <!-- Layout specific -->
  <!-- <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script> -->
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>

</body>
</html>
