* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  color: rgb(160, 160, 160);
  background-color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #34ba52;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  /* background-color: #28F; */
  background-color: #005914;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.filter-button-group {
  text-align: center;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: center;
  border-radius: 0;
  margin-left: 0;
  margin-right: -3px;
}

.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

/* ---- grid ---- */

.grid {
  border: 0px solid #333;
  /* margin: 0 auto; */
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  /* width: 100px; */
  /* height: 100px; */
  margin: 5px;
  padding: 5px;
  background: rgb(51, 51, 51);
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.weather  {
  background: rgb(42, 42, 42);
  padding-bottom: 5px;
}

.element-item.dctcams   {
  background: rgb(0, 70, 0);
}

/* This allows styling of the HAniS control buttons. */
/* Disabled for now because it's a bit ugly */

/* #handiv button.startstop.stop{
  background: rgb(185, 0, 0);
} */

/* #handiv button.startstop.start{
  background: rgb(0, 185, 0);
} */

/* #handiv button:hover {
  background-color: #0085b9;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
} */
