{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control"
        content="max-age=0, must-revalidate, no-store">
  <title>NightWatch - DCT</title>

  <!-- Overall page styling -->
  <link rel="stylesheet" href="{% static 'css/nightwatch.css' %}">
  <link rel="stylesheet" media="screen"
        href="https://fontlibrary.org/face/segment14" type="text/css"/>

  <!-- HAniS stuff -->
  <script type="text/javascript" src="{% static 'js/hanis_min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/hancon.js' %}"></script>

  <!-- Utilities -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- 7 Segment display clock -->
  <script type="text/javascript" src="{% static 'js/excanvas.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'js/segment-display.js' %}"></script>
  <script type="text/javascript">
    var display = new SegmentDisplay("14segClock");
    display.segmentCount    = 14;
    display.cornerType      = 0;
    display.digitHeight     = 20;
    display.digitWidth      = 15;
    display.digitDistance   = 2.5;
    display.displayAngle    = 5.0;
    display.segmentWidth    = 2.0;
    display.segmentDistance = 0.1;

    display.pattern         = "##:##:## ####";
    display.colorOn         = "#3498db";
    display.colorOff        = "#0a1e2b";
    display.draw();

    animate();

    function animate() {
      var time    = new Date();
      var hours   = time.getUTCHours();
      var minutes = time.getUTCMinutes();
      var seconds = time.getUTCSeconds();
      var value   = ((hours < 10) ? ' ' : '') + hours
                  + ':' + ((minutes < 10) ? '0' : '') + minutes
                  + ':' + ((seconds < 10) ? '0' : '') + seconds
                  + "  UTC";
      display.setValue(value);
      window.setTimeout('animate()', 100);
  }
  </script>
</head>

<body onload="HAniS.setup(hancon, 'handiv')">

  <div class="stamp">
    <!-- It's a bit ugly, but it works. Pure CSS table was too annoying. -->
    <table class="tg">
      <tr>
        <td class="tg-title" colspan="1">
          <!-- Need this assinine magicbox div to get the image and text
          actually aligned vertically. Dumb.-->
          <div class='magicbox'>
            <img src="{% static 'images/lowell_logo_large_transparentbg.png' %}"
                 width=75px>
            <span>&nbspNightWatch</span>
          </div>
        </td>
        <td class="tg-logoblock" rowspan="3">
            <img src="{% static 'images/MWest-DCT.png' %}" width=200px>
          </td>
      </tr>
      <tr>
        <td class="tg-byline">
          4.3m DCT
        </td>
      </tr>
      <tr>
        <!-- <td class="tg-byline">Lowell Observatory</td> -->
        <td class="tg-title">
          <canvas id='14segClock' width="260" height="40"></canvas>
        </td>
      </tr>
      <tr>
        <td class="tg-navblock" colspan="2">
          <div class="btn-group filters-group">
            <button class="btn btn--primary active" data-filter="home">Home</button>
            <button class="btn btn--primary" data-filter=".weather">Weather</button>
            <button class="btn btn--primary" data-filter=".telescopeStatus">DCT Status</button>
            <button class="btn btn--primary" data-filter=".webcams">DCT Webcams</button>
            <button class="btn btn--primary" data-filter="*">Show All</button>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="grid">

    <!-- HAniS weather sequence displayer -->
    <!-- https://www.ssec.wisc.edu/hanis/ -->
    <div class="element-item weather data-category=weather"
         id="handiv" style="width:700px; height:900px"></div>

    <!-- DCT Webcams -->
    <!-- (es, I know I can template these in django) -->
    <div class="element-item webcams data-category=webcams">
      <canvas id="gate"></canvas>
    </div>

    <div class="element-item webcams data-category=webcams">
      <canvas id="genset"></canvas>
    </div>

    <div class="element-item webcams data-category=webcams">
      <canvas id="heliumcomp"></canvas>
    </div>

    <div class="element-item webcams data-category=webcams">
      <canvas id="obslevel"></canvas>
    </div>

    <div class="element-item webcams data-category=webcams">
      <canvas id="telbldg"></canvas>
    </div>

    <div class="element-item webcams data-category=webcams">
      <canvas id="utilyard"></canvas>
    </div>

  </div>

  <!-- Other utilities -->
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="{% static 'js/canvasRefresher.js' %}"></script>

  <!-- Layout specific -->
  <script src='http://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js'></script>
  <script  src="{% static 'js/index.js' %}"></script>


</body>
</html>
