{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Isotope - filtering with URL hash</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/stylehash.css' %}">

  <!-- HAniS stuff -->
  <script type="text/javascript" src="{% static 'js/hanis_min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/hancon.js' %}"></script>

  <!-- Fancybox stuff -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</head>

<body onload="HAniS.setup(hancon, 'handiv')">
  <h1>Lowell Observatory - NightWatch - v0.1</h1>

  <div class="button-group filter-button-group">
    <button class="button is-checked" data-filter="*">Default View</button>
    <button class="button" data-filter=".weather">Weather</button>
    <button class="button" data-filter=".dct">DCT Status</button>
    <button class="button" data-filter=".dctcams">DCT Webcams</button>
    <button class="button" data-filter="*">Everything</button>
  </div>

  <div class="grid">

    <!-- HAniS weather sequence displayer -->
    <!-- https://www.ssec.wisc.edu/hanis/ -->
    <div class="element-item weather data-category=weather"
         id="handiv" style="width:700px; height:900px"></div>

    <!-- DCT Webcams -->
    <!-- (es, I know I can template these in django) -->
    <div class="element-item dctcams data-category=dctcams" id="gate">
      <img src='http://dctsleeperservice:8080/webcams/dct/gate.jpg'
           height='300'></img>
    </div>

    <div class="element-item dctcams data-category=dctcams" id="genset">
      <img src='http://dctsleeperservice:8080/webcams/dct/genset.jpg'
           height="300"></img>
    </div>

    <div class="element-item dctcams data-category=dctcams" id="heliumcomp">
      <img src='http://dctsleeperservice:8080/webcams/dct/heliumcomp.jpg'
           height="300"></img>
    </div>

    <div class="element-item dctcams data-category=dctcams" id="obslevel">
      <img src='http://dctsleeperservice:8080/webcams/dct/obs_level.jpg'
           height="300"></img>
    </div>

    <div class="element-item dctcams data-category=dctcams" id="telbldg">
      <img src='http://dctsleeperservice:8080/webcams/dct/tel_bldg.jpg'
           height="300"></img>
    </div>

    <div class="element-item dctcams data-category=dctcams" id="utilyard">
      <img src='http://dctsleeperservice:8080/webcams/dct/util_yard.jpg'
           height="300"></img>
    </div>

  </div>

  <!-- Leaving this commented since we already import jquery in the header,
       but since it was in the Isotope examples I'm leaving it in case
       there's a future version conflict -->
  <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script> -->
  <script src='http://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js'></script>
  <script  src="{% static 'js/indexhash.js' %}"></script>

</body>
</html>
