<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Isotope Masonry Layout</title>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />

</head>
<body>
    
    <!-- Isotope Projects Wrapper -->
    <div class="projects-wrapper">
        <!-- Project Filtering -->
        <ul id="filterNav" class="filters-list">
            <li data-filter="*">All Items</li>
            <li data-filter=".landscape">Landscape</li>
            <li data-filter=".portrait">Portrait</li>
            <li data-filter=".wedding">Wedding</li>
            <li data-filter=".food">Food</li>
        </ul>

        <!-- Project Items List -->
        <div class="projects-list">
          <div class="project-item portrait">
            <!-- Item Image -->
            <img src="/static/img/1.jpg" alt="Item 1">
          </div>
          <div class="project-item portrait">
            <!-- Item Image -->
            <img src="/static/img/2.jpg" alt="Item 2">
          </div>
          <div class="project-item landscape">
            <!-- Item Image -->
            <img src="/static/img/3.jpg" alt="Item 3">
          </div>
          <div class="project-item landscape">
            <!-- Item Image -->
            <img src="/static/img/4.jpg" alt="Item 4">
          </div>
          <div class="project-item food">
            <!-- Item Image -->
            <img src="/static/img/5.jpg" alt="Item 5">
          </div>
          <div class="project-item food">
            <!-- Item Image -->
            <img src="/static/img/6.jpg" alt="Item 6">
          </div>
          <div class="project-item landscape">
            <!-- Item Image -->
            <img src="/static/img/7.jpg" alt="Item 7">
          </div>
          <div class="project-item wedding">
            <!-- Item Image -->
            <img src="/static/img/8.jpg" alt="Item 8">
          </div>
          <div class="project-item wedding">
            <!-- Item Image -->
            <img src="/static/img/9.jpg" alt="Item 9">
          </div>
          <div class="project-item portrait">
            <!-- Item Image -->
            <img src="/static/img/10.jpg" alt="Item 10">
          </div>
          <div class="project-item landscape">
            <!-- Item Image -->
            <img src="/static/img/11.jpg" alt="Item 11">
          </div>
          <div class="project-item portrait">
            <!-- Item Image -->
            <img src="/static/img/12.jpg" alt="Item 12">
          </div>
          <div class="project-item portrait">
            <!-- Item Image -->
            <img src="/static/img/1.jpg" alt="Item 1">
          </div>
          <div class="project-item food">
            <!-- Item Image -->
            <img src="/static/img/6.jpg" alt="Item 6">
          </div>
          <div class="project-item landscape">
            <!-- Item Image -->
            <img src="/static/img/4.jpg" alt="Item 4">
          </div>
        </div>
    </div>

    <!-- JavaScipts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/functions.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>

</body>
</html>
